In [2]:
#%load_ext lab_black

In [3]:
## Importing all needed libraries and modules
## Setting up BigQuery access credentials for SQL parsing of reporting data
from google.cloud import bigquery
from google.oauth2 import service_account
import pandas_gbq
import pandas as pd
import numpy as np
import os
import warnings

pd.set_option('display.max_columns', None)
warnings.filterwarnings('ignore')

credentials = service_account.Credentials.from_service_account_file(
    "/Users/miguelcouto/Downloads/zattoo-dataeng-e5f45785174f.json"
)

project_id = "zattoo-dataeng"
client = bigquery.Client(credentials=credentials, project=project_id)

In [4]:
## SQL query that will create the main reporting dataframe
sql_calcs = """
select mt.transaction_id,
       mt.zuid,
       mt.payment_method,
       mt.currency,
       mt.exchange_rate_eur_to_chf,
       mt.sku,
       product_offer_view.length as product_length,
       product_service_view.classification as product_class,
       mt.type_of_transaction,
       case
           when mt.country_name = 'Germany' then 'Germany'
           when mt.country_name = 'Austria' then 'Austria'
           else 'Switzerland' end                   as country_name,
       c.countrycode                                as country_code,
       mt.new_booking_net_chf,
       mt.renewal_booking_net_chf,
       mt.new_booking_net_eur,
       mt.renewal_booking_net_eur,
       mt.transaction_date,
       mt.term_start,
       mt.term_end,
       product_service_view.zuya_account_permission as product_group_finance,
       mt.vat_eur,
       mt.vat_chf,
       mt.vat_percentage,
       mt.store_fees_chf,
       mt.store_fees_eur
from b2c_middleware.middlelayer_transactions mt
         left join dim.countries c on c.name = mt.country_name
         LEFT JOIN b2c_middleware_import.product_product_view AS product_product_view
                   ON mt.sku = product_product_view.sku
                       AND DATE(mt.transaction_date) = product_product_view.inserted_at_date
         LEFT JOIN b2c_middleware_import.product_subscriptionproduct_view AS product_subscriptionproduct_view
                   ON product_product_view.id = product_subscriptionproduct_view.id
                       AND
                      product_product_view.inserted_at_date = product_subscriptionproduct_view.inserted_at_date
         LEFT JOIN b2c_middleware_import.product_offer_view AS product_offer_view
                   ON product_subscriptionproduct_view.offer_id = product_offer_view.id
                       AND product_subscriptionproduct_view.inserted_at_date = product_offer_view.inserted_at_date
         LEFT JOIN b2c_middleware_import.product_service_view AS product_service_view
                   ON product_offer_view.service_id = product_service_view.id
                       AND product_offer_view.inserted_at_date = product_service_view.inserted_at_date
where true
  and mt.app_shop_id = 'datatrans'
  and mt.transaction_date >= '2022-03-01 00:00:00'
  and mt.transaction_date <= '2022-03-31 23:59:59'
-- Due to discrepancies, we will NOT be including refunds for now in datatrans
  and mt.type_of_transaction != 'refund'
           """

In [5]:
## Prepare dataframe
df = pandas_gbq.read_gbq(sql_calcs, project_id=project_id, progress_bar_type=None)

## List of transaction types (new and renewal) to be included in the dataframe (as mentioned before refunds will NOT be included in datatrans for now)
type_trans_lst = ["new_sale",
                  "renewal",
                  # "refund"
                  ]

In [6]:
## Parsing date columns and converting them to datetime
parse_dates = ["term_start", "term_end"]
reporting_df = df[df["type_of_transaction"].isin(type_trans_lst)].copy()

for date in parse_dates:
    reporting_df[date] = pd.to_datetime(reporting_df[date]).dt.tz_convert(None)

In [7]:
## Finance Subs reporting will happen once at end of each month and for that the reporting_month will be defined based on the mode of the transaction_date
reporting_month = reporting_df['transaction_date'].mode().dt.to_period('M').dt.strftime('%Y-%m')[0]
reporting_df['reporting_month'] = reporting_month

In [8]:
## Calculate total_booking_net_eur/chf columns
reporting_df["total_booking_net_chf"] = (
        reporting_df["new_booking_net_chf"] + reporting_df["renewal_booking_net_chf"]
)
reporting_df["total_booking_net_eur"] = (
        reporting_df["new_booking_net_eur"] + reporting_df["renewal_booking_net_eur"]
)

In [9]:
## Calculate product_length_months (the max number of months that each transaction_id is in - e.g., transaction_id 36385353 is a 1 month sub that started on
## 23.03.22 18:45, which means product_length_months = 2 (March and April))
reporting_df["product_length_months"] = (
        (reporting_df["term_end"].dt.year - reporting_df["term_start"].dt.year) * 12
        + (reporting_df["term_end"].dt.month - reporting_df["term_start"].dt.month)
        + 1
)

In [10]:
## Some transactions have a weird behavior (probably refunds issued manually by Support), therefore product_length_months needs to be cleaned
reporting_df["product_length_months"][reporting_df["product_length_months"] < 0] = 0

In [11]:
## Replacing product_length_months for exceptions where value is 2 instead of 1
shorter_subs = (reporting_df['term_end'] - reporting_df['term_start']).dt.days <= 30
shorter_subs_replacer = reporting_df[shorter_subs][
    (reporting_df["product_length_months"] == 2) & ((reporting_df['term_end']).dt.day == 1)].index.to_list()
reporting_df["product_length_months"].loc[shorter_subs_replacer] = 1

In [12]:
## Reseting index
reporting_df = reporting_df.reindex(reporting_df.index.repeat(reporting_df["product_length_months"]))

In [13]:
## Adding revenue_month_number (same logic as product_length_months but it iterates each month and adds +1)
reporting_df["revenue_month_number"] = reporting_df.groupby(["transaction_id"]).cumcount() + 1

In [14]:
## Add revenue_month_date (same as revenue_month_number but with date for month begin)
reporting_df["revenue_month_date"] = reporting_df["term_start"].to_numpy().astype("datetime64[M]")
reporting_df["revenue_month_date"][reporting_df["type_of_transaction"] == "refund"] = (
    reporting_df["transaction_date"].to_numpy().astype("datetime64[M]")
)

reporting_df["revenue_month_date"] = reporting_df.apply(
    lambda x: x["revenue_month_date"]
              + pd.offsets.MonthEnd(x["revenue_month_number"])
              + pd.offsets.MonthBegin(-1),
    axis=1,
)

reporting_df["product_term_length"] = reporting_df["revenue_month_date"].apply(
    lambda t: pd.Period(t, freq="S").days_in_month
)

reporting_df["product_term_length"][reporting_df["term_start"] > reporting_df["revenue_month_date"]] = (
                                                                                                               reporting_df[
                                                                                                                   "term_start"].dt.daysinmonth -
                                                                                                               reporting_df[
                                                                                                                   "term_start"].dt.day
                                                                                                       ) + 1

In [15]:
## Reseting index
reporting_df.reset_index(drop=True, inplace=True)

In [16]:
## Set active_sub_month_end = 1 by default
reporting_df["active_sub_month_end"] = 1

## Get last indices of each transaction_id group
last_idxs = (
        len(reporting_df)
        - np.unique(
    reporting_df.transaction_id.values[::-1],
    return_index=1,
)[1]
        - 1
)

reporting_df["active_sub_month_end"].iloc[last_idxs] = 0

## Mark all one transaction subscriptions as 1
reporting_df["active_sub_month_end"][
    (reporting_df["revenue_month_number"] <= 1) & (reporting_df["product_length_months"] <= 1)
    ] = 1

## Mark all refund transactions as -1
reporting_df["active_sub_month_end"][reporting_df["type_of_transaction"] == "refund"] = -1

In [17]:
## Active_sub_content follows the same logic as active_sub_month_end except it doesn't count the last month
reporting_df["active_sub_content"] = reporting_df.active_sub_month_end

reporting_df.loc[reporting_df.groupby('transaction_id')['active_sub_content'].tail(2).index, 'active_sub_content'] = 0

In [18]:
## Fix last position of product_term_length per transaction_id
reporting_df["product_term_length"].iloc[last_idxs] = (
        reporting_df["term_end"].iloc[last_idxs] -
        reporting_df["revenue_month_date"].iloc[last_idxs]
).dt.days

In [19]:
## Fix to tackle dynamic term_end for refunds (same as product_length_months)
reporting_df["product_term_length"][reporting_df["product_term_length"] < 0] = 0

In [20]:
## Total_days of product_term_length per transaction_id
reporting_df["total_days"] = reporting_df.groupby("transaction_id")["product_term_length"].transform(
    "sum"
)

In [21]:
## Get 12mo subs that didn't stay for 12 months for posterior treatment of exception
reporting_df['max_revenue_month_number'] = reporting_df.groupby(['transaction_id'])['revenue_month_number'].transform(
    max)

# reporting_df[(reporting_df.sku.str.contains('zattoo_web_hiq_swiss_12mo')) & (reporting_df.max_revenue_month_number < 13)]

In [22]:
## NEW LINE! added on 2022-04-27
## Product_term_length fix for subscriptions < 31 days (1, 3, 7 days)
reporting_df['product_term_length'][reporting_df.sku.str.contains('day')] = (
        reporting_df.term_end - reporting_df.term_start).dt.days

In [23]:
## Total_days fix for subscriptions < 31 days (1, 3, 7 days)
reporting_df["total_days"][
    (reporting_df.product_term_length != reporting_df.total_days) & (reporting_df['product_length_months'] <= 1)] = reporting_df["product_term_length"][
    (reporting_df.product_term_length != reporting_df.total_days) & (reporting_df['product_length_months'] <= 1)]

In [24]:
## Calculate total_revenue_net fields
reporting_df["total_revenue_net_eur"] = (
        reporting_df["total_booking_net_eur"] / reporting_df["total_days"] * reporting_df["product_term_length"]
)

reporting_df["total_revenue_net_chf"] = (
        reporting_df["total_booking_net_chf"] / reporting_df["total_days"] * reporting_df["product_term_length"]
)

## Remove total_booking values from all lines of group except first
reporting_df.loc[
    reporting_df["revenue_month_number"] > 1,
    ["total_booking_net_chf", "total_booking_net_eur"],
] = 0.0

In [25]:
## Remove following values from all lines of group except first. This is done to avoid future aggregation issues
one_line_cols = ["vat_eur", 'vat_chf', 'payout_eur', 'payout_chf', 'sales_price_eur', 'sales_price_chf', 'fee_eur', 'fee_chf', 'new_booking_net_eur',
                 'new_booking_net_chf', 'renewal_booking_net_eur',
                 'renewal_booking_net_chf','store_fees_eur', 'store_fees_chf',
                 'charge_eur', 'charge_chf',
                 'vat_percentage',
                 'avg_price_sales_per_sub', 'units']

for col in one_line_cols:
    reporting_df.loc[
        reporting_df["revenue_month_number"] > 1,
        [col, "total_booking_net_eur"],
    ] = 0.0

In [26]:
## Prepare df_nocalcs for free trials and full discounts
reporting_df_nocalcs = df[~df["type_of_transaction"].isin(type_trans_lst)].copy()

for date in parse_dates:
    reporting_df_nocalcs[date] = pd.to_datetime(reporting_df_nocalcs[date]).dt.tz_convert(None)

In [27]:
## Extract list of transaction ids whose subscription float between one month and the other, and are 1, 3 or 7 days (== product_length < 31)
trx_lst_more_1month_subs = reporting_df['transaction_id'][
    (reporting_df["revenue_month_number"] > 1) & (reporting_df.sku.str.contains('day'))]

## This logic makes sure the days are allocated correctly for these very specific subscriptions
reporting_df['product_term_length'][
    (reporting_df.transaction_id.isin(trx_lst_more_1month_subs)) & (reporting_df.revenue_month_number == 1)] = - (
        reporting_df.term_start - reporting_df.revenue_month_date.shift(1)).dt.days

reporting_df['product_term_length'][
    (reporting_df.transaction_id.isin(trx_lst_more_1month_subs)) & (reporting_df.revenue_month_number > 1)] = (
        reporting_df.term_end - reporting_df.revenue_month_date).dt.days

In [28]:
## Fix active_sub_month_end for subscriptions with only 1 revenue month and length < 30 days
reporting_df['last_day_term_end'] = (pd.to_datetime(reporting_df['term_end'], format="%d", unit='d')).dt.day
reporting_df['last_day_month'] = (
        pd.to_datetime(reporting_df['term_end'], format="%d", unit='d') + pd.offsets.MonthEnd(n=1)).dt.day

reporting_df["active_sub_month_end"][reporting_df.last_day_term_end < reporting_df.last_day_month] = 0

In [29]:
## Fix those one line transactions that still have wrong product_term_length
trx_id_counts = reporting_df['transaction_id'].value_counts(sort=False)
check_length_mask = reporting_df[
    reporting_df['transaction_id'].isin(trx_id_counts.index[trx_id_counts == 1])].index.to_list()

reporting_df["product_term_length"].loc[check_length_mask] = reporting_df[
                                                                 'term_end'].dt.day - reporting_df.term_start.dt.day

In [30]:
check_length_mask

[230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 456,
 897,
 1572,
 3233,
 3247,
 3749,
 4844,
 4861,
 5808,
 5901,
 5902,
 5903,
 5904,
 5905,
 5906,
 5907,
 5908,
 5909,
 5910,
 5911,
 5940,
 6027,
 6042,
 6595,
 6938,
 6972,
 7029,
 7116,
 8109,
 8184,
 9480,
 9517,
 10251,
 10252,
 10253,
 10254,
 10255,
 10256,
 10257,
 10258,
 10259,
 10260,
 10261,
 10262,
 10263,
 10264,
 10265,
 10266,
 10267,
 10268,
 10269,
 10270,
 10271,
 10272,
 10273,
 10274,
 10275,
 10276,
 10277,
 10278,
 10279,
 11232,
 11449,
 12298,
 12655,
 14104,
 14811,
 14902,
 14994,
 15183,
 15485,
 15710,
 15711,
 16331,
 16384,
 16832,
 16833,
 16834,
 16835,
 16836,
 16837,
 16838,
 16839,
 16840,
 16841,
 16842,
 16843,
 16844,
 16845,
 16846,
 16847,
 16848,
 16849,
 16850,
 16851,
 16852,
 16853,
 16854,
 16855,
 16856,
 16857,
 16858,
 16859,
 16860,
 16861,
 16862,
 16863,
 16864,
 16865,
 16866,
 16867,
 16868,
 16869,
 16870,
 16871,
 16872,
 16873,
 16874,
 16875,
 16876,
 16877,
 16878,
 16879,
 16880,
 16881,
 16882,
 16883,
 16884,
 16885,
 16886,
 16887,
 16888,
 16889,
 16890,
 16891,
 16892,
 16893,
 16894,
 16911,
 16928,
 19109,
 19132,
 20363,
 21134,
 22727,
 23450,
 24321,
 25592,
 28013,
 28420,
 28421,
 28422,
 28423,
 28424,
 28425,
 28426,
 28427,
 28428,
 28429,
 28430,
 29096,
 30495,
 32485,
 33642,
 33741,
 33742,
 33743,
 33832,
 34649,
 37098,
 37469,
 38860,
 38861,
 39344,
 40834,
 40835,
 40836,
 40837,
 40838,
 40839,
 40840,
 40841,
 40842,
 40843,
 40844,
 40845,
 40846,
 40847,
 40848,
 40849,
 40850,
 41395,
 42574,
 45427,
 45455,
 45808,
 47150,
 47537,
 48400,
 48594,
 48623,
 48624,
 49878,
 51265,
 51322,
 51721,
 52326,
 52348,
 52349,
 52350,
 52351,
 52352,
 52353,
 52354,
 52355,
 52356,
 52357,
 52358,
 52359,
 52360,
 52361,
 52362,
 52363,
 52364,
 52365,
 52366,
 52367,
 52368,
 52369,
 52370,
 52371,
 52372,
 52385,
 54277,
 54368,
 55025,
 55026,
 55027,
 55068,
 55069,
 55351,
 55760,
 56126,
 56711,
 56828,
 57819,
 57930,
 58477,
 59372,
 60032,
 60095,
 60802,
 61103,
 62376,
 62778,
 64255,
 66126,
 66374,
 66408,
 66617,
 68583,
 68592,
 68593,
 68594,
 68595,
 68596,
 68597,
 68598,
 68599,
 68600,
 68601,
 68602,
 68603,
 68604,
 68605,
 68606,
 68607,
 68608,
 69112,
 69829,
 71117,
 71569,
 72918,
 73073,
 73132,
 73343,
 73994,
 74057,
 74144,
 74745,
 75440,
 76159,
 76404,
 76792,
 76941,
 77137,
 78977,
 78984,
 79091,
 79148,
 79173,
 79336,
 80215,
 81575,
 81576,
 81577,
 81578,
 81579,
 82177,
 82200,
 82544,
 82653,
 83592,
 84089,
 84180,
 84399,
 84612,
 84613,
 85466,
 85467,
 85468,
 85469,
 85470,
 85471,
 85472,
 85473,
 85474,
 85475,
 85476,
 85719,
 86234,
 87830,
 88025,
 88094,
 88099,
 88144,
 88717,
 88822,
 89257,
 90432,
 90515,
 92178,
 92806,
 93093,
 93930,
 93931,
 93932,
 93948,
 93949,
 93950,
 93951,
 93952,
 93953,
 93954,
 93955,
 93956,
 93957,
 93958,
 93959,
 93960,
 93961,
 93962,
 93963,
 93964,
 93965,
 93966,
 93967,
 93968,
 93969,
 99148,
 99459,
 100697,
 100698,
 100699,
 101964,
 101981,
 103624,
 103794,
 103805,
 103808,
 103817,
 103987,
 104066,
 104727,
 105032,
 105187,
 105532,
 105881,
 106212,
 106213,
 106214,
 106215,
 106216,
 106217,
 106218,
 106219,
 106220,
 106221,
 107324,
 108943,
 109114,
 109207,
 109286,
 109367,
 109986,
 110583,
 110646,
 111393,
 111394,
 111395,
 111396,
 111397,
 111398,
 111399,
 111400,
 111401,
 111416,
 111485,
 111590,
 113005,
 114186,
 114191,
 114234,
 114317,
 114620,
 114633,
 115086,
 115227,
 115404,
 115437,
 115498,
 115979,
 116092,
 116655,
 117090,
 117313,
 117496,
 117824,
 118173,
 118413,
 118505,
 119488,
 121203,
 121250,
 121251,
 121252,
 121253,
 121254,
 121255,
 121256,
 121257,
 121258,
 121259,
 121260,
 121806,
 122059,
 122345,
 123164,
 123165,
 123166,
 123167,
 123168,
 123169,
 123170,
 123171,
 123172,
 123173,
 123174,
 123175,
 123176,
 123177,
 123178,
 123179,
 123180,
 123181,
 123182,
 123183,
 123184,
 123185,
 123186,
 123187,
 123188,
 123189,
 123190,
 123191,
 124486,
 125187,
 125372,
 125407,
 125470,
 125615,
 125730,
 126778,
 127117,
 127628,
 127893,
 128266,
 128996,
 129046,
 129093,
 129100,
 129113,
 129182,
 129183,
 129184,
 132001,
 132014,
 132301,
 132302,
 132303,
 132304,
 132305,
 132306,
 132307,
 132308,
 132309,
 132310,
 132311,
 132312,
 132313,
 132314,
 132315,
 132316,
 132317,
 132318,
 132319,
 132320,
 132321,
 132322,
 132323,
 132324,
 135832,
 135833,
 135834,
 135835,
 135836,
 135942,
 136177,
 136178,
 136179,
 136180,
 136181,
 136182,
 136183,
 136510,
 138765,
 138941,
 138944,
 138961,
 139680,
 139809,
 140266,
 140621,
 140786,
 141243,
 141868,
 143042,
 143043,
 144878,
 145233,
 145720,
 145721,
 145980,
 146448,
 146449,
 146450,
 146451,
 146452,
 146453,
 146454,
 146455,
 146456,
 146457,
 146458,
 146459,
 146794,
 146915,
 148472,
 149503,
 149504,
 149505,
 149506,
 149507,
 149508,
 149509,
 149510,
 149511,
 149512,
 149513,
 149514,
 149517,
 152273,
 153316,
 153317,
 153318,
 153319,
 153320,
 153321,
 153322,
 153323,
 153324,
 153325,
 153326,
 153327,
 153328,
 153329,
 153330,
 153331,
 153332,
 153333,
 153334,
 153335,
 153336,
 153337,
 153338,
 153339,
 153340,
 153341,
 153342,
 153343,
 153396,
 153401,
 154844,
 155548,
 155559,
 156305,
 156872,
 157047,
 157138,
 158021,
 158586,
 159037,
 159494,
 159575,
 159712,
 160063,
 160326,
 160397,
 160630,
 161117,
 162220,
 162303,
 162316,
 163729,
 164731,
 165057,
 165126,
 165133,
 167194,
 167785,
 168367,
 168544,
 169523,
 171799,
 173792,
 173930,
 174206,
 174207,
 174208,
 174209,
 174210,
 174211,
 174212,
 174213,
 174214,
 174215,
 174216,
 174217,
 174218,
 174219,
 174220,
 174221,
 174222,
 174223,
 174224,
 174225,
 174226,
 174369,
 174545,
 174556,
 174702,
 175709,
 176628,
 177815,
 178398,
 178843,
 179013,
 179026,
 179065,
 179072,
 179172,
 182250,
 182329,
 182372,
 182465,
 182538,
 184961,
 184962,
 184963,
 184964,
 184965,
 184966,
 184967,
 184968,
 184969,
 184970,
 184971,
 184972,
 184973,
 184974,
 184975,
 184976,
 184977,
 184978,
 185888,
 186335,
 186356,
 186515,
 187484,
 188067,
 188483,
 188586,
 188737,
 188738,
 190559,
 192506,
 194248,
 194365,
 196596,
 196597,
 196598,
 198166,
 200149,
 200217,
 200222,
 200281,
 200344,
 200559,
 201866,
 202986,
 203148,
 204889,
 205484,
 206515,
 206516,
 206517,
 206518,
 206519,
 206520,
 206521,
 206522,
 206523,
 206524,
 206525,
 206526,
 206527,
 206528,
 206734,
 207777,
 207778,
 207779,
 207780,
 207781,
 207782,
 207783,
 207784,
 207785,
 207786,
 207787,
 207788,
 207789,
 207790,
 207791,
 207792,
 207793,
 207794,
 207795,
 210388,
 210693,
 210870,
 210979,
 212492,
 212493,
 212494,
 212495,
 212496,
 212497,
 212498,
 212499,
 212500,
 213151,
 213610,
 214072,
 214651,
 217300,
 217421,
 217502,
 217545,
 217678,
 220579,
 220608,
 220906,
 220977,
 221026,
 221087,
 221128,
 223997,
 224004,
 224075,
 224510,
 225873,
 226038,
 226273,
 226313,
 226421,
 226744,
 227197,
 227198,
 227199,
 227356,
 227445,
 227485,
 227486,
 227487,
 227488,
 227489,
 227490,
 227491,
 227492,
 227493,
 227494,
 227495,
 228113,
 228890,
 229123,
 230601,
 230667,
 231300,
 231943,
 232305,
 232650,
 234049,
 235111,
 235905,
 236159,
 236180,
 236297,
 236352,
 237821,
 237864,
 237893,
 239438,
 239451,
 239858,
 239992,
 240069,
 240386,
 240942,
 240956,
 241372,
 242150,
 242233,
 244514,
 244772,
 244773,
 244774,
 244804,
 244823,
 247379,
 247393,
 247511,
 247979,
 248290,
 248311,
 248362,
 249077,
 250560,
 250561,
 250562,
 250563,
 250564,
 250565,
 250566,
 250567,
 250568,
 250569,
 250570,
 250571,
 250572,
 250573,
 250574,
 250575,
 250576,
 250577,
 250578,
 250579,
 250580,
 250581,
 250582,
 250583,
 250584,
 250585,
 250586,
 250587,
 250588,
 250589,
 250590,
 250591,
 250592,
 250593,
 250594,
 250595,
 250596,
 250597,
 250598,
 250599,
 250600,
 250601,
 250602,
 250603,
 250604,
 250605,
 250606,
 250607,
 250608,
 250609,
 250610,
 250611,
 251774,
 252504,
 252695,
 254875,
 254876,
 254877,
 254878,
 254879,
 254880,
 254881,
 254882,
 254883,
 254884,
 254885,
 254886,
 254887,
 254888,
 254889,
 254890,
 254891,
 254892,
 254893,
 254932,
 254999,
 255098,
 255115,
 255714,
 257183,
 258570,
 258577,
 258895,
 259607,
 259608,
 259609,
 260448,
 261436,
 261437,
 261438,
 261439,
 261440,
 261441,
 261442,
 261443,
 261444,
 ...]

In [100]:
## Calculate total_booking_net columns
reporting_df_nocalcs["total_booking_net_chf"] = (
        reporting_df_nocalcs["new_booking_net_chf"] + reporting_df_nocalcs["renewal_booking_net_chf"]
)
reporting_df_nocalcs["total_booking_net_eur"] = (
        reporting_df_nocalcs["new_booking_net_eur"] + reporting_df_nocalcs["renewal_booking_net_eur"]
)

In [101]:
## Calculating sales_prices                                                                                                     errors='ignore')
reporting_df['sales_price_eur'] = reporting_df['total_booking_net_eur'] * (
        1 + (reporting_df['vat_percentage'] / 100))
reporting_df['sales_price_chf'] = reporting_df['total_booking_net_chf'] * (
        1 + (reporting_df['vat_percentage'] / 100))

In [103]:
## Append dataframes
reporting_df = reporting_df.append(reporting_df_nocalcs).reset_index(drop=True)

## Convert revenue_month_date to date
reporting_df["revenue_month_date"] = pd.to_datetime(
    reporting_df["revenue_month_date"]
).dt.date

In [104]:
## Standardizing the report so it's in line with Amazon, Google and Apple
reporting_df[['domestic_abroad', 'subscription_status']] = np.nan

reporting_df[['charge_chf', 'charge_eur', 'units', 'store_fees_percentage', 'payout_chf', 'fee_eur', 'fee_chf',
              'payout_eur']] = 0

In [105]:
## Reorder dataframe
reporting_df = reporting_df[
    [
        'transaction_id',
        'transaction_date',
        'term_end',
        'reporting_month',
        'country_name',
        'country_code',
        'currency',
        'sku',
        'subscription_status',
        'type_of_transaction',
        'payment_method',
        'product_class',
        'product_group_finance',
        'product_length',
        'product_length_months',
        'product_term_length',
        'domestic_abroad',
        'vat_percentage',
        'exchange_rate_eur_to_chf',
        'store_fees_eur',
        'store_fees_chf',
        'store_fees_percentage',
        'units',
        'charge_eur',
        'sales_price_eur',
        'fee_eur',
        'vat_eur',
        'new_booking_net_eur',
        'renewal_booking_net_eur',
        'payout_eur',
        'total_revenue_net_eur',
        'charge_chf',
        'sales_price_chf',
        'fee_chf',
        'vat_chf',
        'new_booking_net_chf',
        'renewal_booking_net_chf',
        'payout_chf',
        'total_revenue_net_chf',
        'revenue_month_number',
        'revenue_month_date',
        'active_sub_month_end',
        'active_sub_content'
    ]
]

## Define BQ table schema
bq_schema = [
    {"name": "transaction_id", "type": "STRING"},
    {"name": "transaction_date", "type": "TIMESTAMP"},
    {"name": "term_end", "type": "TIMESTAMP"},
    {"name": "reporting_month", "type": "STRING"},
    {"name": "country_name", "type": "STRING"},
    {"name": "country_code", "type": "STRING"},
    {"name": "currency", "type": "STRING"},
    {"name": "sku", "type": "STRING"},
    {"name": "subscription_status", "type": "STRING"},
    {"name": "type_of_transaction", "type": "STRING"},
    {"name": "payment_method", "type": "STRING"},
    {"name": "product_class", "type": "STRING"},
    {"name": "product_group_finance", "type": "STRING"},
    {"name": "product_length", "type": "INTEGER"},
    {"name": "product_length_months", "type": "INTEGER"},
    {"name": "product_term_length", "type": "INTEGER"},
    {"name": "domestic_abroad", "type": "STRING"},
    {"name": "vat_percentage", "type": "FLOAT"},
    {"name": "exchange_rate_eur_to_chf", "type": "FLOAT"},
    {"name": "store_fees_eur", "type": "INTEGER"},
    {"name": "store_fees_chf", "type": "INTEGER"},
    {"name": "store_fees_percentage", "type": "INTEGER"},
    {"name": "units", "type": "INTEGER"},
    {"name": "charge_eur", "type": "FLOAT"},
    {"name": "sales_price_eur", "type": "FLOAT"},
    {"name": "fee_eur", "type": "FLOAT"},
    {"name": "vat_eur", "type": "FLOAT"},
    {"name": "new_booking_net_eur", "type": "FLOAT"},
    {"name": "renewal_booking_net_eur", "type": "FLOAT"},
    {"name": "payout_eur", "type": "FLOAT"},
    {"name": "total_revenue_net_eur", "type": "FLOAT"},
    {"name": "charge_chf", "type": "FLOAT"},
    {"name": "sales_price_chf", "type": "FLOAT"},
    {"name": "fee_chf", "type": "FLOAT"},
    {"name": "vat_chf", "type": "FLOAT"},
    {"name": "new_booking_net_chf", "type": "FLOAT"},
    {"name": "renewal_booking_net_chf", "type": "FLOAT"},
    {"name": "payout_chf", "type": "FLOAT"},
    {"name": "total_revenue_net_chf", "type": "FLOAT"},
    {"name": "revenue_month_number", "type": "INTEGER"},
    {"name": "revenue_month_date", "type": "STRING"},
    {"name": "active_sub_month_end", "type": "INTEGER"},
    {"name": "active_sub_content", "type": "INTEGER"}
]

In [106]:
## Export to csv
path = r"/Users/miguelcouto/Desktop/"

reporting_df.to_csv(os.path.join(path, fr'subs_reporting_datatrans{reporting_month.replace("-", "_")}.csv'))

In [107]:
## Export to BQ table
pandas_gbq.to_gbq(
    dataframe=reporting_df,
    destination_table=f"finance.subs_reporting_datatrans{reporting_month.replace('-', '')}",
    project_id="zattoo-dataeng",
    if_exists="replace",
    progress_bar=None,
    table_schema=bq_schema,
)